body{
	background: black url(sprites/background1.png) no-repeat center top;
	overflow:hidden
}
#wrapper{
	position:absolute;
	left:0px;right:0px;top:0px;bottom:0px;
}
canvas{
	cursor: none;
	position:absolute;
}
.logo{
	position:absolute;font-size:0px;
	left:50%;top:0px;height:100px;width:200px;
	transform: translate(-50%,0);
	cursor: url(sprites/cursor1.png), auto;
}
.noselect{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}